body {
    margin: 0;
}

#fileArea {
    width: 70%;
    float: left;
}

#fileInfo {
    width: 30%;
    float: right;
    height: 600px;
    padding: 30px;
    background-color: #00abec;
    box-sizing: border-box;
}

#dropZone {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    padding: 30px;
    border: 10px dashed #ecab00;
    background-color: #ecab00;
    text-align: center;
    box-sizing: border-box;
}

#dropZone.dragged {
    background-color: #fff;
    border-color: #ecab00;
}

#uploadedList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#uploadedList:after {
    content: " ";
    display: block;
    clear: both;
}

#uploadedList > li {
    float: left;
    width: 120px;
    height: 120px;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    word-break: break-all;
}

#uploadedList > li.selected {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #ccc !important;
}

#uploadedList > li:first-child {
    margin-left: 0;
}

#contextMenuPopup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9000;
}

#dragBox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px dashed #3399ff;
    box-sizing: border-box;
    z-index: 8000;
}

#uploadedList > .uploadedList.uploadedFile {
    color: #fff;
}

#uploadedList > .uploadedList.uploadedFolder {
    color: #fff;
}

#uploadedList > .uploadedList.uploadedFile .material-icons {
    font-size: 50px;
    color: #333;
}

#uploadedList > .uploadedList.uploadedFolder .material-icons {
    font-size: 50px;
    color: #3399ff;
}

#uploadedList > .uploadedList.cutFile {
    opacity: 0.4;
}

#uploadedList > .uploadedList.copyFile {
    opacity: 0.8;
}