<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>파일 업로드</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">

    <script>
        let contextPath = '[[${#httpServletRequest.getContextPath()}]]';
    </script>

    <script th:src="@{/ajax.js}"></script>
    <script th:src="@{/js/library/axios.min.js}"></script>
    <script th:src="@{/js/module/file/FileStorage.js}"></script>
    <script th:src="@{/js/module/file/FileStorageUi.js}"></script>
    <script th:src="@{/js/module/file/FileStorageService.js}"></script>
    <script th:src="@{/js/module/file/FileStorageHttpTemplate.js}"></script>
</head>

<body>
    <div id="fileArea">
        <div id="dropZone">
            <ul id="uploadedList">
            </ul>

            <div id="dragBox"></div>
        </div>

        <nav id="contextMenuPopup">
            <ul>
                <li><button type="button" id="menuDownload">다운로드</button></li>
                <li><button type="button" id="menuNewFolder">새 폴더</button></li>
                <li><button type="button" id="menuCut">잘라내기</button></li>
                <li><button type="button" id="menuCopy">복사</button></li>
                <li><button type="button" id="menuPaste">붙여넣기</button></li>
                <li><button type="button" id="menuDelete">삭제</button></li>
            </ul>
        </nav>

        <progress id="progress" value="0"></progress>

        <form th:action="@{/file/upload}" method="POST" enctype="multipart/form-data">
            <input type="file" id="files"> <button type="button" id="saveFile">저장</button>
        </form>
    </div>
    <div id="fileInfo">
        타입: 파일<br>
        파일명: Docker.dmg<br>
        확장자: dmg<br>
        사이즈: 450.2MB
    </div>

    <script>
        let dropZone = document.getElementById('dropZone'); // 파일을 드래그 앤 드랍하여 업로드 하는 영역
        let progressBar = document.getElementById("progress"); // 파일 업로드 시 진행되는 프로그래스바
        let uploadedList = document.getElementById("uploadedList"); // 업로드 된 파일이 보여지는 목록 영역
        let contextMenuPopup = document.getElementById("contextMenuPopup"); // 마우스 우클릭 시 나타나는 메뉴
        let menuDownload = document.getElementById("menuDownload"); // 파일 다운로드
        let menuNewFolder = document.getElementById("menuNewFolder"); // 새폴더 생성
        let menuCut = document.getElementById("menuCut"); // 잘라내기
        let menuCopy = document.getElementById("menuCopy"); // 복사
        let menuPaste = document.getElementById("menuPaste"); // 붙여넣기
        let menuDelete = document.getElementById("menuDelete"); // 삭제
        let dragBox = document.getElementById("dragBox"); // 드래그 시 선택되는 영역

        let files = document.getElementById("files");
        let saveFile = document.getElementById("saveFile");

        let fileStorageHttpTemplate = new FileStorageHttpTemplate()
        let fileStorageService = new FileStorageService(fileStorageHttpTemplate);
        let fileStorageUi = new FileStorageUi(
            dropZone,
            uploadedList,
            progressBar,
            contextMenuPopup,
            menuDownload,
            menuNewFolder,
            menuCut,
            menuCopy,
            menuPaste,
            menuDelete,
            dragBox,
            files,
            saveFile
        );
        let fileStorage = new FileStorage(fileStorageUi, fileStorageService);

        fileStorage.init();
    </script>
</body>
</html>